---
---
@import "{{ site.theme }}";

html,
body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent;
}

.wrapper,
section,
header,
footer {
  background: transparent;
  box-shadow: none;
}

section {
  background-color: rgba(230, 230, 230, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  padding: 18px 22px;
}
